.Dashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.DarkDashboard {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
}

.CenterBody {
  display: flex;
  flex-grow: 1;
}
